.qwe{
	color: white;
}
.height{
	height: 30px;
}
.height2{
	height: 202px;
}
.height3{
	height: 30px;
}
.colour{
	color: white;
}
.a{
   	margin-left: 550px; 
    margin-right: 550px;
}
.hei{
	height: 30px;
}
